/* importing google fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

/* styling resets not taken care of by the normalize node module */

h1,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}