/* general styling */

.main {
  background-image: url('../../assets/background_img_sm.jpg');
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 78%;
}

.logo {
  padding-top: 45px;
  padding-bottom: 43px;
  width: 22.6%;
  min-width: 85px;
  max-width: 142px;
}

.main_heading,
.main_para {
  color: #FFFFFF;
  font-weight: 300;
  padding-bottom: 27px;
}

.main_heading {
  font-size: 27px;
  line-height: 31px;
}

.heading_span,
.main_button {
  color: #86BC25;
}

.main_para {
  font-size: 12px;
  line-height: 19px;
}

.main_button {
  text-transform: uppercase;
  letter-spacing: 4.64px;
  font-weight: 600;
  font-size: 10px;
  border: 1px solid #464646;
  padding: 18px 23px;
  display: inline-block;
  transition: 0.2s;
}

.main_button:hover {
  color: #FFFFFF;
  border: 1px solid #86BC25;
}

//medium viewport styling

@include respond-to("medium") {
  .main {
    background-image: url('../../assets/background_img_lg.jpg');
    background-position: initial;
  }

  .wrapper {
    max-width: 65%;
  }

  .main_heading {
    font-size: 40px;
    line-height: 59px;
  }

  .logo {
    padding-bottom: 86px;
  }

  .main_para {
    font-size: 15px;
    line-height: 34px;
    max-width: 60%;
    min-width: 375px;
  }

  .main_para:nth-of-type(2n) {
    margin-bottom: 15px;
  }

  .main_button {
    letter-spacing: 6.19px;
    font-size: 16px;
    padding: 26px 50px;
  }
}

@include respond-to("large") {

  .main_para {
    width: 48%;
  }

  .main_heading {
    font-size: 50px;
  }

  .main_heading,
  .main_para {
    padding-bottom: 45px;
  }
}


/* 
- converting pixels to %/rem for font size -- i think i have a mixin on this but not using scss...
*/