//mixin for media queries
// @include respond-to("small") {}
@mixin respond-to($breakpoint) {
  @if $breakpoint=="small" {
    @media (min-width: 450px) {
      @content;
    }
  }

  @else if $breakpoint=="medium" {
    @media (min-width: 700px) {
      @content;
    }
  }

  @else if $breakpoint="large" {
    @media (min-width: 1350px) {
      @content;
    }
  }

  @else {
    @media ($breakpoint) {
      @content;
    }
  }
}